* {
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(50, 51, 51);
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 0  10px 25px  4px rgba(0, 0, 0, 0.397); 
}

.main {
    margin: 10px;   
}

body {
    background: linear-gradient(to right, purple, red, yellow);
    background-size: 300% 100%;
    animation: bg 15s ease infinite;
} 

/* ================================================ */


@keyframes bg{
    0% { background-position: 0% 50%;}
    50% { background-position: 100% 100%;}
    100% { background-position: 0% 50%;}
}


/* this is for the back button, the triangle buttons */
.fa-bars{
    color: white;
    font-size: 30px;
    margin: 25px 0 0 50px;
}

.header #dextr{
    width: 130px;
    height:40px;
    margin: 20px 40px 20px 0;
}

/* ======================= M E N U ============================*/ 

.menu a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;    
    font-size: 14px;
    border-radius: 20px;
}

/* ---------------------------------*/
.contact h1{
    background-color: white;
    border-radius: 15px;
    color: rgb(50,51,51);
}
/* ---------------------------------*/


.menu h1{
    padding: 10px 20px;
    text-align: center;
} 

.menu h1:hover{
    background-color: gray;
    border-radius: 15px;
} 

.menu_option{
        padding: 10px 30px;
}

.menu {
    background-color: rgb(50, 51, 51);
    position: absolute;
    border-radius: 30px;
    margin-top: 7px;
    box-shadow: 5px  8px 15px 3px rgba(0, 0, 0, 0.397); 
    display: none;
}

.menu.open-menu{
    display: block;
    animation: dropdown 0.5s ease-in-out;
}

@keyframes dropdown {
    0%{
        transform: translateX(-80px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}



/* ============================================================== */

#contactUs{
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    color: white;
    margin: 70px 0px;
}


.the-body {
    background-color: white;
    padding: 50px 70px 50px 70px;
    margin: 0px -10px -300px -10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-bottom: 200px;
}

.page-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contactUsImage img{
    width: 500px;
}
/* ============================ F0RM ==============================*/

.the-form .name{
    display: flex;
    justify-content: space-between;
}



/* THE FORM */
.the-form {
    width: 530px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;    
    border-radius: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}

form .name input{
    width: 225px;
    height: 33px;
    border-radius: 13px;
    background-color: white;
    border: 2px solid rgb(50, 51, 51);
    box-shadow: 3px  3px  5px  5px rgba(133, 127, 127, 0.253);
    margin: 6px 0 10px 0;
}

form {
    padding: 30px;
}

form input{
    width: 480px;
    height: 33px;
    border-radius: 13px;
    background-color: white;
    border: 2px solid rgb(50, 51, 51);
    box-shadow: 3px  3px  5px  5px rgba(133, 127, 127, 0.253);
    margin: 6px 0 10px 0;
}

form textarea {
    width: 480px;
    height: 150px;
    border-radius: 13px;
    background-color: white;
    border: 2px solid rgb(50, 51, 51);
    box-shadow: 3px  3px  5px  5px rgba(133, 127, 127, 0.253);
    margin: 6px 0 10px 0;
}

form button {
    border: 2px solid rgb(50, 51, 51);
    box-shadow: 3px  3px  5px  5px rgba(133, 127, 127, 0.253);
    display: block;
    margin: 0 auto;
    font-size: 20px;
    padding: 6px 100px;
    background-color: whitesmoke;
    border-radius: 13px;
}

/* ----------------- FOOTER -----------------*/

.footer {
    color: white;
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgb(50, 51, 51);
}
.footer .footer-text h1{
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    padding-top: 30px;
}

.footer-text h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.footer-text p{
    text-align: center;
    margin-top: 150px; 
    margin-bottom: -200px; 
    font-size: 17px;
}

.footer .footer-text {
    margin: 200px 100px;
}


#link {
    padding-bottom: 20px;
}

.links {
    padding-top: 70px;
}

.links a{
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    font-size: 17px;
}


.footer .upperhalf {
    padding-bottom: 30px;
}

.quicklink a{
    color: white;
}

.quicklink {
    padding: 10px 0 0 0;
}


/* size of the icons on the footer */

.fa-instagram {font-size: 20px;}
.fa-facebook {font-size: 20px;}
.fa-whatsapp {font-size: 20px;}
.fa-envelope {font-size: 20px;}
 



/* ------------------------------------------------------------------------------------------------- */



@media screen and (max-width: 1300px){
    .fa-bars{
        font-size: 25px;
        margin: 22px 0 0 50px;
    }
    .header #dextr{
        width: 80px;
        height:27px;
        margin: 20px 50px 20px 20px;
    }
    
    .the-body {
            padding: 50px 0px 200px 0px;
            margin: 0px -10px -300px -10px;
    }
    #contactUsImage img{
        width: 500px;
    }

}

@media screen and (max-width: 1100px){
    
    #contactUsImage img{
        width: 400px;
    }
    #contactUsImage {
        display: flex;
        justify-content: center;
    }
    
    #contactUs{
        font-size: 50px;
    }


    .page-content {
        display: block;
    }
    
    .the-body {
        display: flex;
        justify-content: center;
    }

    /*      THIS IS FOR THE FOOOOOOOOOOOOOTER*/
    
    
    .footer {
        margin-top: -200px;
    }
    
    .footer .footer-text {
        margin: 200px 50px;
    }
    .footer .footer-text h1{
        font-size: 40px;
    }
    .footer-text h2 {
        font-size: 16px;
    }
    .links {
        display: block;
    }
    .links a{
        font-size: 15px;
    }

    .footer-text p{
        font-size: 13px;
    }
    
    .fa-instagram {font-size: 20px;}
    .fa-facebook {font-size: 19px;}
    .fa-whatsapp {font-size: 20px;}
    .fa-envelope {font-size: 20px;}
}


@media screen and (max-width: 600px){
    /* ------------ the header ------------- */

    .fa-bars{
        font-size: 20px;
        margin: auto 30px;
    }

    .header #dextr{
        width: 70px;
        height:24px;
        padding-top: 2px;
        margin: 10px 25px 10px 0;
    }

    /* =========== M E N U ===========*/

    .menu a {
        font-size: 12px;
    }
    
    .menu_option{
        padding: 10px 15px;
    }

     /* ----------------------------------- */

    
   #contactUsImage img{
        width: 230px;
    }
    
    #contactUsImage {
        display: flex;
        justify-content: center;
    }

    #contactUs{
        font-size: 40px;
    }

    /* ============ THE FORM =========== */

   .the-form .name{
        display: block;
    }
  
   .the-form {
       width: 0px;
       margin: 0 130px 0 130px ; 
    }

    form {
        padding: 30px;
    }
    
    form .name input{
        width: 250px;
        height: 33px;
        border-radius: 15px;
        border: 1px solid rgb(50, 51, 51);
    }

    form input {
        width: 250px;
        height: 33px;
        border-radius: 15px;
        background-color: white;
        border: 1px solid rgb(50, 51, 51);
    }

    form textarea {
        width: 250px;
        height: 130px;
        border-radius: 15px;
        background-color: white;
        border: 1px solid rgb(50, 51, 51);
    }

    form button {
        display: block;
        margin: 0 auto;
        font-size: 16px;
        padding: 7px 110px;
        border-radius: 15px;
        color: rgb(1, 46, 59);
    }


    
    /* F000000000000000000000000TER */

    .footer .footer-text h1{
        font-size: 27px;
    }
    .footer-text h2 {
        font-size: 14px;
    }
}
