* {
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(1, 46, 59);
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 0  10px 25px  4px rgba(0, 0, 0, 0.397); 
}

.main {
    margin: 10px;   
}

body {
    background-color: rgb(0, 102, 138);
} 


/* this is for the back button, the triangle buttons */
.fa-bars{
    color: white;
    font-size: 30px;
    margin: 27px 0 0 50px;
}

.header #dextr{
    width: 130px;
    height:40px;
    margin: 22px 50px 20px 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 17px;
    border-radius: 20px;
}

.menu_option a{
    display: flex;
    justify-content: space-between;
    border-radius: 30px; 
    padding: 6px 0px;
    margin: 0px 25px;
}

.menu_option h1{
    padding-right: 10px;
}

.menu_option{
    padding: 5px 0px;
}

.fa-greater-than {
    padding-top: 16px;
    color: white;
    padding-left: 20px;
}

.menu {
    background-color: rgb(1, 46, 59);
    position: absolute;
    border-radius: 30px;
    margin-top: 7px;
    box-shadow: 5px  8px 15px 3px rgba(0, 0, 0, 0.397); 
    display: none;
}

.menu.open-menu{
    display: block;
}

/* the space between each letter */

.menu h1{
    padding: 10px;
} 

/* ================================================================================ */

.not-available h1 {
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    color: white;
    margin: 70px 0px;
}

#text{
    color: white;
    background-color: rgb(1, 46, 59);
    padding: 30px;
    border-radius: 30px;
    margin: 0px 200px;
}

#text h2{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    text-align: center;
}


.links {
    margin-top: 44px;
}

#link {
    margin: 10px 0px;
}

.links #link a  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    text-decoration:  none;
    color: white;
    font-size: 17px;
}


.not-available #btn a {
    text-decoration: none; 
    color: white;
    font-size: 30px;
}

.not-available #btn button {
    background-color: rgb(1, 46, 59);
    border-radius:10px;
    padding: 5px 25px;
    display: block;
    margin: 20px auto;

}
    
/* ------------------------------------------------------------------------------------------------- */



@media screen and (max-width: 1300px){
    .fa-bars{
        font-size: 25px;
        margin: 22px 0 0 50px;
    }
    .header #dextr{
        width: 80px;
        height:27px;
        margin: 20px 50px 20px 20px;
    }

}

@media screen and (max-width: 1070px){}



@media screen and (max-width: 800px){
    body {
        background-color: rgb(232, 243, 252);
    }
    .not-available h1 {
        font-size: 40px;
        color: rgb(1, 46, 59);
    }
    #text{
        border-radius: 20px;
        margin: 0px 100px;
    }

    #text h2{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: 16px;
        text-align: center;
    }
    .links #link a  {
        font-size: 14px;
    }
    .not-available #btn a {
        font-size: 20px;
    }

}

@media screen and (max-width: 650px){
    .not-available h1 {
        font-size: 28px;
    }
    #text{
        border-radius: 20px;
        margin: 0px 50px;
    }

    #text h2{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: 16px;
        text-align: center;
    }
    .links #link a  {
        font-size: 14px;
    }
    .not-available #btn a {
        font-size: 20px;
    }
}
