* {
    margin: 0;
    padding: 0;
}

hr {
    color: white;
}

.header{
    background-color: rgb(50, 51, 51);
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 0  10px 25px  4px rgba(0, 0, 0, 0.397); 
}

.main {
    margin: 10px;   
}

body {
    background: linear-gradient(to right, purple, red, yellow);
    background-size: 300% 100%;
    animation: bg 15s ease infinite;
} 

/* ================================================ */


@keyframes bg{
    0% { background-position: 0% 50%;}
    50% { background-position: 100% 100%;}
    100% { background-position: 0% 50%;}
}



/* this is for the back button, the triangle buttons */
.fa-bars{
    color: white;
    font-size: 30px;
    margin: 25px 0 0 50px;
}

.header #dextr{
    width: 130px;
    height:40px;
    margin: 20px 40px 20px 0;
}

/* ======================= M E N U ============================*/ 

.menu a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;    
    font-size: 14px;
    border-radius: 20px;
}

/* ---------------------------------*/
.s-w-o h1{
    background-color: white;
    border-radius: 15px;
    color: rgb(50,51,51);
}
/* ---------------------------------*/


.menu h1{
    padding: 10px 20px;
    text-align: center;
} 

.menu h1:hover{
    background-color: gray;
    border-radius: 15px;
} 

.menu_option{
        padding: 10px 30px;
}

.menu {
    background-color: rgb(50, 51, 51);
    position: absolute;
    border-radius: 30px;
    margin-top: 7px;
    box-shadow: 5px  8px 15px 3px rgba(0, 0, 0, 0.397); 
    display: none;
}

.menu.open-menu{
    display: block;
    animation: dropdown 0.5s ease-in-out;
}

@keyframes dropdown {
    0%{
        transform: translateX(-80px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}



/* ============================================================== */

#servicesWeOffer{
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    color: white;
    margin: 70px 0px;
}


.the-body {
    background-image: url(images/14a07bea2682a6de8b60549511ee2e14.jpg);
    background-position: center;
    background-size: auto;
    /* text-align: center; */
    padding: 50px;
    margin: 0px -10px -300px -10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-bottom: 200px;
}

/* ==================== Services we offer ================== */

/* ================== Services Cards ====================== */

.cards {
    display: flex;
    overflow-x: auto;
    scroll-snap-type:x mandatory;
    margin-top: 20px;
    border-radius: 25px;
}

.scroll-card {
    padding: 30px 20px 10px;
    margin: 0px 10px;
    width: 250px;
    height: 240px;
    background-color: rgb(35, 36, 36);
    border-radius: 17px;
    box-shadow: 4px  7px 9px 2px rgba(0, 0, 0, 0.397); 
    flex: 0 0 auto;
    border-radius: 25px;
    display: flex;
    scroll-snap-align: center;
}


.aboutsrv p{  
    font-weight: 300;
    padding: 20px 0 20px 0;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.cards h2{
    text-align: left;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 9px 0px 15px 0px;
}

.cards a {
    text-decoration: none; 
}

.card-elements {
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}





.fa-palette {font-size: 33px; color: blueviolet;}
.fa-backward-fast{font-size: 33px; color: rgb(255, 251, 0)}
.fa-laptop-code{font-size: 33px; color: rgb(8, 206, 255);}
.fa-users-gear {font-size: 33px; color: rgb(255, 165, 47);}
.fa-id-badge{font-size: 33px; color: rgb(187, 126, 245);}
.fa-file-contract{font-size: 33px; color: rgb(24, 223, 24);}


/* ----------------- Contact us Button --------------- */

.btn {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.btn a{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: rgb(35, 36, 36);
    border: 2px solid rgb(35, 36, 36);
    color: whitesmoke;
    font-size: 18px;
    padding: 12px;
    border-radius: 15px;
    transition: 0.5s; 
}

.btn a:hover {
    background-color: whitesmoke;
    color: rgb(35, 36, 36);
    border: 2px solid rgb(35, 36, 36);
}

/* ----------------- FOOTER -----------------*/

.footer {
    color: white;
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgb(50, 51, 51);
}
.footer .footer-text h1{
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    padding-top: 30px;
}

.footer-text h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.footer-text p{
    text-align: center;
    margin-top: 150px; 
    margin-bottom: -200px; 
    font-size: 17px;
}

.footer .footer-text {
    margin: 200px 100px;
}


#link {
    padding-bottom: 20px;
}

.links {
    padding-top: 70px;
}

.links a{
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.footer .upperhalf {
    padding-bottom: 30px;
}

.quicklink a{
    color: white;
}

.quicklink {
    padding: 10px 0 0 0;
}


/* size of the icons on the footer */

.fa-instagram {font-size: 20px;}
.fa-facebook {font-size: 20px;}
.fa-whatsapp {font-size: 20px;}
.fa-envelope {font-size: 20px;}
 


/* ------------------------------------------------------------------------------------------------- */



@media screen and (max-width: 1300px){
    .fa-bars{
        font-size: 25px;
        margin: 22px 0 0 50px;
    }
    .header #dextr{
        width: 80px;
        height:27px;
        margin: 20px 50px 20px 20px;
    }


}

@media screen and (max-width: 1070px){



    #servicesWeOffer{
        font-size: 50px;
    }
    

    /*      THIS IS FOR THE FOOOOOOOOOOOOOTER*/
    
    
    .footer {
        margin-top: -200px;
    }
    
    .footer .footer-text {
        margin: 200px 50px;
    }
    .footer .footer-text h1{
        font-size: 40px;
    }
    .footer-text h2 {
        font-size: 16px;
    }
    .links {
        display: block;
    }
    .links a{
        font-size: 15px;
    }

    .footer-text p{
        font-size: 13px;
    }
    
    .fa-instagram {font-size: 20px;}
    .fa-facebook {font-size: 19px;}
    .fa-whatsapp {font-size: 20px;}
    .fa-envelope {font-size: 20px;}
}


@media screen and (max-width: 600px){
        /* ------------ the header ------------- */

        .fa-bars{
            font-size: 20px;
            margin: auto 30px;
        }
        
        .header #dextr{
            width: 70px;
            height:24px;
            padding-top: 2px;
            margin: 10px 25px 10px 0;
        }
    
        /* =========== M E N U ===========*/

    .menu a {
        font-size: 12px;
    }
    
    .menu_option{
        padding: 10px 15px;
    }

    
        /* ----------------------------------- */
        
    .the-body {
        padding: 40px 25px 200px 25px;
    }

    #servicesWeOffer{
        font-size: 40px;
    }

        /* ================== Services Cards ====================== */

    #se-we-off {
        display: flex;
        justify-content: center;
    }
    
    .cards h2{
        padding: 9px 0px 14px 0px;
    }
    
    
    .cards {
        display: block;
        margin-top: 20px;
        padding: 0 0;
    }

    .scroll-card {
        margin: 25px 0px;
        border-radius: 17px;
        box-shadow: 0px  10px 10px 0px rgba(0, 0, 0, 0.397); 
        border-radius: 25px;
    }
    
    .cards h2{
        padding: 3px 0px 15px 0px;
    }
    
     .btn a{
        font-size: 15px;
    }
    
    .aboutsrv p{  
        font-size: 14px;
        font-weight: 300;
    }
    
    .fa-palette {font-size: 25px; color: blueviolet;}
    .fa-backward-fast{font-size: 25px; color: rgb(255, 251, 0)}
    .fa-laptop-code{font-size: 25px; color: rgb(8, 206, 255);}
    .fa-users-gear {font-size: 25px; color: rgb(255, 165, 47);}
    .fa-id-badge{font-size: 25px; color: rgb(187, 126, 245);}
    .fa-file-contract{font-size: 25px; color: rgb(24, 223, 24);}
    
    /* F000000000000000000000000TER */

    .footer .footer-text h1{
        font-size: 27px;
    }
    .footer-text h2 {
        font-size: 14px;
    }
}
