* {
    margin: 0;
    padding: 0;
}




/* ---------MAIN-------COLORS------------ */
.header { background-color: rgb(50, 51, 51);}      /*HEADER*/
.text_img .dexterity h1{ color:  black; }   /*DEXTERITY*/
/* ------------------------------------ */  


body { background-color:  #ffffff;}         /*BODY BACKGROUND*/



#preloader {
    background: black url(images/preloader.gif) no-repeat center center;
    background-size: 50%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-top: -10px;
}

.home-page-bg {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/14a07bea2682a6de8b60549511ee2e14.jpg);
    background-position: center;
    background-size: auto;
}




.header{
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 0  10px 25px  4px rgba(0, 0, 0, 0.397);
    width: 98%;
}

.main {
    margin: 10px;   
}


/* this is for the back button, the menu buttons */
.fa-bars{
    color: white;
    font-size: 30px;
    margin: 25px 0 0 50px;
}

.header #dextr{
    width: 130px;
    height:40px;
    margin: 20px 40px 20px 200px;
}

/* =========== M E N U ===========*/

.menu a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;    
    font-size: 20px;
    border-radius: 20px;
}

/* ---------------------------------*/
.home h1{
    background-color: white;
    border-radius: 15px;
    color: rgb(50,51,51);
}
/* ---------------------------------*/

.menu h1{
    padding: 10px 20px;
    text-align: center;
} 

.menu h1:hover{
    background-color: gray;
    border-radius: 15px;
} 

.menu_option{
        padding: 10px 30px;
}

.menu {
    z-index: 100;
    background-color: rgb(50, 51, 51);
    position: absolute;
    border-radius: 30px;
    margin-top:  10px;
    display: none;
}

.menu.open-menu{
    display: block;
    animation: dropdown 0.5s ease-in-out;
}

@keyframes dropdown {
    0%{
        transform: translateX(-80px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------ */

.front_page {
    display: flex;
    justify-content: space-between;
    margin:30px 80px 30px 90px;
}

.text_img {
    padding-bottom: 200px;
    padding-top: 20px;
}

#break {
    display: none;
}

/* DEXTERITY */

#Dexterity {
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 130px;
    pointer-events: none;
}

.text_img .dexterity h1{
    padding-top: 30px; 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 70px;
    color: rgb(25, 26, 26);
    pointer-events: none;
}

.text_img .intro_text h1 {
  margin: 40px 0px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  pointer-events: none;

}

.intro_text a{
    color: white;
}


/* ========= THE BUTTONS ========= */

#buttons {
 margin: 30px 0px;
}

#buttons a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    background-color: rgb(50, 51, 51);
    border-radius: 10px;
}

#buttons a:hover {
    color: black;
    border: 1px solid black;
    background-color: rgba(0, 0, 255, 0);
    transition: 0.5s;
}


/* THIS IS FOR THE TILTING IMAGE SAMPLE */

#phone_sample1 {
    width: 430px;
    margin-top: 30px;
    position: relative;
    transition: all 0.6s ease-out;
    transform: rotateX(0deg) rotateY(0deg);
    perspective: 1000px;
    transform-style: preserve-3d;
}

#phone_sample2{display: none;}

.tilt-box-wrap {
    position: relative;
    transition: all 0.6s ease-out;
    perspective: 1000px;
}

.tilt-box-wrap:hover{
    transition:all 0.3s linear ;
    transform: scale(1.1);
}

.t_over{
    width: 33.333%;
    height: 33.333%;
    position: absolute;
    z-index: 1;
}

/* 3D hover effect */

.t_over:nth-child(1){ left: 0; top: 0; }
.t_over:nth-child(2){ left: 33.333%; top: 0; }
.t_over:nth-child(3){ left: 66.666%; top: 0; }
.t_over:nth-child(4){ left: 0; top: 33.333%; }
.t_over:nth-child(5){ left: 33.333%; top: 33.333%; }
.t_over:nth-child(6){ left: 66.666%; top: 33.333%; }
.t_over:nth-child(7){ left: 0; top: 66.666%; }
.t_over:nth-child(8){ left: 33.333%; top: 66.666%; }
.t_over:nth-child(9){ left: 66.666%; top: 66.666%; }

.t_over:nth-child(1):hover ~ #phone_sample1{transform: rotateX(-20deg) rotateY(20deg)}
.t_over:nth-child(2):hover ~ #phone_sample1{transform: rotateX(-20deg) rotateY(0deg)}
.t_over:nth-child(3):hover ~ #phone_sample1{transform: rotateX(-20deg) rotateY(-20deg)}
.t_over:nth-child(4):hover ~ #phone_sample1{transform: rotateX(0deg) rotateY(20deg)}
.t_over:nth-child(5):hover ~ #phone_sample1{transform: rotateX(0deg) rotateY(0deg)}
.t_over:nth-child(6):hover ~ #phone_sample1{transform: rotateX(0deg) rotateY(-20deg)}
.t_over:nth-child(7):hover ~ #phone_sample1{transform: rotateX(20deg) rotateY(20deg)}
.t_over:nth-child(8):hover ~ #phone_sample1{transform: rotateX(20deg) rotateY(0deg)}
.t_over:nth-child(9):hover ~ #phone_sample1{transform: rotateX(20deg) rotateY(-20deg)}
/* ------------------------------------------------------------------------- */


/* ----------- CARDS --------------*/

.p-s-l {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.p-s-l a{
    text-decoration: none;
    color: white;
}

.p-s-l h1{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bolder;
    padding: 30px 0 0 30px;
}

.p-s-l h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 19px;
    padding: 30px;
    color: white;
}

.p-s-l img {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 230px;
    border-radius: 15px;
}

.card  {
    margin: 0px 20px;
    padding: 0 0 20px 0;
    background-color: rgb(35, 36, 36);
    border-radius: 17px;
    box-shadow: 5px  8px 15px 3px rgba(0, 0, 0, 0.397); 
    opacity: 0;
    transform: translateX(0);
    transition: transform 1s ease, opacity 1s ease;
}


.card-left {
    transform: translateX(7%);
}

.card-right {
    transform: translateX(7%);
}

.card.visible {
    opacity: 1;
    transform: translateX(0);
}

/* ==================== COMMUNITY BLOCK===================== */

.comm-block {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

#comm-block-img {
    padding: 150px 0 100px 0;
    display: flex;
    justify-content: center;
}

.comm-text {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.about-challenge p{
    font-weight: 350;
    font-size: 19px;
    padding-bottom: 50px;
}

.winner-details {
    color: white;
    background-color: rgb(35, 36, 36);
    border-radius: 30px;
}

.winner-details img {
    border-radius: 30px;
    border: 3px solid #089bd9;
}

.winner-details h3{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

.winner-profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    
}

.winner-points ul li{
    padding: 7px 0 0 0;
}

.winner-points ul{
    padding: 0 0 0 10px;
}

/* DEMARCATION */

#demarcation {
    display: none;
}



/* ----------------- FOOTER -----------------*/


.footer {
    margin-top: 20px;
    background-color: rgb(35, 36, 36);
    color: white;
    margin-left: -10px;
    margin-right: -10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.footer .footer-text h1{
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    padding-top: 30px;
}

.footer-text h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

}

.footer-text p{
    text-align: center;
    margin-top: 150px; 
    margin-bottom: -200px; 
    font-size: 17px;
}

.footer .footer-text {
    margin: 200px 100px;
}

.footer .upperhalf {
    padding-bottom: 30px;
}


#link {
    padding: 10px 0;
}


.links {
    padding-top: 70px;
}


.links a{
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.quicklink a{
    color: white;
}

.quicklink {
    padding: 10px 0 0 0;
}

/* size of the icons on the footer */

.fa-instagram {font-size: 20px;}
.fa-facebook {font-size: 20px;}
.fa-whatsapp {font-size: 20px;}
.fa-envelope {font-size: 20px;}
 
/* MEDIA QUERY */


@media screen and (max-width: 1300px){
    #Dexterity {
        font-family: "Zilla Slab", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 110px;
    }
    
    .text_img .dexterity h1{
        font-size: 70px;
    }
    
    #phone_sample1 {
        width: 400px;
        padding: 30px 0px;
    }

    .fa-bars{
        font-size: 25px;
        margin: 22px 0 0 50px;
    }
    
    .header #dextr{
        width: 80px;
        height:27px;
        margin: 20px 50px 20px 0;
    }

    
    #buttons a {
        font-size: 16px;
    }
    
    .btn a{
        font-size: 22px;
        margin: 50px 430px;
    }

}


@media screen and (max-width: 1100px){
    #Dexterity {
        font-size: 110px;
    }
    
    .text_img .dexterity h1{
        font-size: 60px;
    }
    
    .text_img {
        padding-top: 50px;
        text-align: center;
        padding-bottom: 0px;
    }

    .front_page {
        display: block;
        margin: 0 auto;
    }
    
    #phone_sample1 {
        display: block;
        margin: 0 auto;
        width: 450px;
        padding: 30px 0px;
    }
    
    #phone_sample2 {
        display: none;
    }
    
/*     ========== THE BUTTONS ========== */
    

    
    #buttons a {
        font-size: 16px;
    }
    
    .p-s-l {
        display: block;
        margin: 0 auto;
    }
    
    .p-s-l img {

        width: 87%;
        height: 250px;
        border-radius: 15px;
    }
    
    .card  {
        margin: 50px 200px;
       transition: transform 0.5s ease, opacity 0.5s ease;

    }
    

    .card-left {
        transform: translateX(-30%);
    }

    .card-right {
        transform: translateX(30%);
    }

    .card.visible {
        opacity: 1;
        transform: translateX(0);
    }
    
    
/*   Services we Offer    */
    
    .btn a{
        font-size: 18px;
        margin: 50px 310px;
    }
    
    #se-we-off h1{
        font-size: 40px;
        padding: 80px 0;
    }
    
/*   ================= Community Block ==================   */
    
    #comm-block-img img{
        width: 600px
    }

/*   Footer   */
    
    .footer {
        margin-top: 200px;
    }
    
    .footer .footer-text {
        margin: 200px 50px;
    }
    .footer .footer-text h1{
        font-size: 40px;
    }
    .footer-text h2 {
        font-size: 16px;
    }
    .links a{
        font-size: 15px;
    }

    .footer-text p{
        font-size: 13px;
    }
    
    .fa-instagram {font-size: 20px;}
    .fa-facebook {font-size: 20px;}
    .fa-whatsapp {font-size: 20px;}
    .fa-envelope {font-size: 20px;}
 
}


@media screen and (max-width: 800px){
    #Dexterity {
        font-size: 100px;
    }
    
    .text_img .dexterity h1{
        font-size: 60px;
    }
    .links {
        display: block;
        padding-top: 70px;
    }
        
    .p-s-l img {
        width: 87%;
        height: 250px;
        border-radius: 15px;
    }
    
    .card  {
        margin: 50px 100px;
    }
    
    /*   Services we Offer    */
    
    .btn a{
        font-size: 18px;
        margin: 50px 230px;
    }
    
    #se-we-off h1{
        font-size: 40px;
        padding: 80px 0;
    }

    .card-left {
        transform: translateX(-18%);
    }

    .card-right {
        transform: translateX(18%);
    }

    .card.visible {
        opacity: 1;
        transform: translateX(0);
    }

    /*   ================= Community Block ==================   */
    
    #comm-block-img img{
        width: 500px
    }
    
    .comm-text {
        width: 500px;
    }
    
    .winner-details img{
        width: 160px;
        border-radius: 30px;
    }
    
    .winner-details h3{
        font-size: 20px;
    } 
    
        
    .winner-profile {
        display: block;
        padding: 20px; 
    }
    
    .winner-points ul{
        text-align: left;
    }
    
    .winner-points ul li{
        padding: 20px 0 0 0;
    }

    .winner-points ul{
        padding: 0 0 0 20px;
    }
        /* DEMARCATION */

    #demarcation {
        display: block;
    }
}


@media screen and (max-width: 600px){

    
    #break {
        display: block;
        line-height: 0px;

    }
    
    .text_img {
        text-align: center;
        padding: 10px 0 0 0;
    }
    
    #preloader {
        background-size: 100%;
    }
    
    
    /* =========== M E N U ===========*/

    .menu a {
        font-size: 15px;
    }
    
    .menu_option{
        padding: 10px 15px;
    }

    /* ------------ the header ------------- */

    .fa-bars{
        font-size: 20px;
        margin: auto 30px;
    }
    
    .header #dextr{
        width: 70px;
        height:24px;
        padding-top: 2px;
        margin: 10px 25px 10px 0;
    }

    /* ----------------------------------- */
    
    #Dexterity {
        font-size:18vw;
        width: 100%;
    }
    
    .text_img .dexterity h1{
        font-size: 6vw;
        font-weight: 400;
    }
    
    .text_img .intro_text h1 {
        font-size: 3.4vw;
        line-height: 17px;
        font-weight: 500;
        margin: 15px 0 60px 0;
    }
    
    #phone_sample1 {
        width: 95%;
    }
    
    
    .home-page-bg {
        min-height: 100vh;
        width: 100%;
        background-image: url(images/14a07bea2682a6de8b60549511ee2e14.jpg);
        background-position: center;
        background-size: contain;
    }

    
/*    ========= THE BUTTON ========  */

    
    #buttons a {
        font-size: 3.4vw;
        padding: 10px;
        font-weight: 600;
        background-color: rgb(41, 40, 40);
    }
    


    
    
/*   =========== THE CARDS ==========   */
    
    .card  {
        margin: 80px 15px;
    }
 
    .p-s-l img {
        height: 180px;
        border-radius: 11px;
    }
    
    .p-s-l h1{
        font-size: 25px;
    }
    
    .p-s-l h2{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        padding: 30px;
        font-size: 15.3px;
    }
    
    
    .card-left {
        transform: translateX(-18%);
    }

    .card-right {
        transform: translateX(6%);
    }

    .card.visible {
        opacity: 1;
        transform: translateX(0);
    }


        /*   ================= Community Block ==================   */
    
    #comm-block-img {
        padding: 50px 0px;
    }
    
    #comm-block-img img{
        width: 320px
    }
    
    .comm-text {
        width: 320px;
    }
    
    .winner-details img{
        width: 150px;
        border-radius: 10px;
        border: 2px solid skyblue;
    }
    
    .winner-details h3{
        font-size: 16px;
    }         
    
    .about-challenge p{
        font-weight: 350;
        font-size: 16px;
        padding-bottom: 50px;
    }
    
    .winner-details {
        border-radius: 12px;
    }
    
    .winner-points ul{
        font-size: 14px
    }

/* F000000000000000000000000TER */

    .footer .footer-text h1{
        font-size: 27px;
    }
    .footer-text h2 {
        font-size: 14px;
    }

}