* {
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(1, 46, 59);
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 0  10px 25px  4px rgba(0, 0, 0, 0.397); 
}

.main {
    margin: 10px;   
}

body {
    background-color: rgb(0, 102, 138);
} 


/* this is for the back button, the triangle buttons */
.fa-bars{
    color: white;
    font-size: 30px;
    margin: 29px 0 0 50px;
}

.header #dextr{
    width: 130px;
    height:40px;
    margin: 23px 50px 20px 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 17px;
    border-radius: 20px;
}

.menu_option a{
    display: flex;
    justify-content: space-between;
    border-radius: 30px; 
    padding: 6px 0px;
    margin: 0px 25px;
}

.menu_option h1{
    padding-right: 10px;
}

.menu_option{
    padding: 5px 0px;
}

.fa-greater-than {
    padding-top: 16px;
    color: white;
    padding-left: 20px;
}

.menu {
    background-color:  rgb(1, 46, 59);
    position: absolute;
    border-radius: 30px;
    margin-top: 7px;
    box-shadow: 5px  8px 15px 3px rgba(0, 0, 0, 0.397); 
    display: none;
}

.menu.open-menu{
    display: block;
}

/* the space between each letter */

.menu h1{
    padding: 10px;
} 


/* ------------------------------------------------------------------------------------------------- */


.front-page #front-page-image h1{
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 80px;
    text-align: center;
    color: white;
}

.front-page #work-img {
    width: 500px;
}

.front-page {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
}

/* CARDSSSSSSSSSS */

 #se-we-off h1{
    display: none;
}


.cards {
    text-align: center;
    padding: 0px 30px;
    margin: 0px -10px -10px -10px;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    background-color: rgb(1, 46, 59);
    border-radius: 10px;
    box-shadow: 5px  8px 15px 3px rgba(0, 0, 0, 0.397); 
}

.card h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 30px;
}

.card-elements {
    padding: 30px;
}

.card-elements i{
    color: white;
    padding: 20px 0px;
}

.fa-palette {font-size: 60px;}
.fa-laptop-code{font-size: 60px;}
.fa-users-gear {font-size: 60px;}
.fa-hand-holding-dollar {font-size: 60px;}



/* ----THIS IS FOR THE BUTTON----- */

#contact-btn a{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 22px;
    text-decoration: none;
}

#contact-btn {
    grid-column: 1 / 3;
    height: 50px;
    margin: 0px 200px;
    background-color: rgb(1, 46, 59);
    border-radius: 17px;
}

#contact-btn:hover {
    background-color: rgb(48, 148, 176);
    transition: 0.5s;

}

/* ----------------- FOOTER -----------------*/

.footer {
    margin-top: 20px;
    color: white;
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgb(3, 55, 71);
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}
.footer .footer-text h1{
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 80px;
    padding-top: 30px;
}

.footer-text h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
}

.footer-text p{
    text-align: center;
    margin-top: 150px; 
    margin-bottom: -200px; 
    font-size: 17px;
}

.footer .footer-text {
    margin: 200px 100px;
}


#link {
    padding-bottom: 20px;
}

.links {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.links a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    font-size: 23px;
}

/* size of the icons on the footer */

.fa-instagram {font-size: 30px;}
.fa-x-twitter {font-size: 27px;}
.fa-whatsapp {font-size: 30px;}
.fa-envelope {font-size: 30px;}
 

@media screen and (max-width: 1300px){
    .fa-bars{
        font-size: 25px;
        margin: 22px 0 0 50px;
    }
     .header #dextr{
        width: 80px;
        height:27px;
        margin: 20px 50px 20px 20px;
    }
    .front-page {
        margin: 50px 10px;
        display: flex;
        justify-content: space-between;
    }
    #contact-btn {
        height: 50px;
        margin: 0px 150px;
    }
}

@media screen and (max-width: 1070px){
    .front-page {
        margin: 50px 100px;
        display: block;
    }
    .front-page #work-img {
        display: block;
        width: 500px;
        margin: 80px auto;
    }
    
    .front-page #front-page-image h1{
        font-size: 70px;
    }
    
    #se-we-off h1 {
        display: block;
        font-family: "Zilla Slab", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 50px;
        color: rgb(1, 46, 59);
        text-align: center;
        background-color: aliceblue;
        margin: 0px -110px;
        padding-top: 100px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    
    .cards {
        background-color: aliceblue;
        display: block;
        margin: 0px -110px;
        gap: 30px;
        padding-top: 50px;
    }
    
    .cards h1 {
        font-size: 40px;
    }
    
    .card{
        padding: 70px 0px;
        margin: 50px 200px;
    }
    
    #contact-btn {
        padding: 0px 80px; 
        margin-bottom: 150px;
    }
    
/*      THIS IS FOR THE FOOOOOOOOOOOOOTER*/
    
    
    .footer {
        margin-top: -200px;
    }
    
    .footer .footer-text {
        margin: 200px 50px;
    }
    .footer .footer-text h1{
        font-size: 40px;
    }
    .footer-text h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: lighter;
        font-size: 20px;
    }
    .links {
        display: block;
    }
    .links a{
        font-size: 15px;
    }

    .footer-text p{
        font-size: 13px;
    }
    
    .fa-instagram {font-size: 20px;}
    .fa-x-twitter {font-size: 19px;}
    .fa-whatsapp {font-size: 20px;}
    .fa-envelope {font-size: 20px;}
 
}

@media screen and (max-width: 800px){
    
    .front-page #front-page-image h1{
        font-size: 65px;
    }
    
    .cards {
        margin: 0px -110px;
        gap: 30px;
        padding-top: 100px;
    }
    
    .cards h1 {
        font-size: 30px;
    }
    
    .card{
        padding: 0px 0px;
        margin: 50px 140px;
    }
    
    #contact-btn {
        padding: 0px 80px; 
        margin-bottom: 150px;
    }
}

@media screen and (max-width: 650px){

    .front-page #front-page-image h1{
        font-size: 50px;
        margin: 0px -50px;
    }

    .front-page #work-img {
        width: 250px;
        margin: 60px auto; 
    }
    
    #front-page-image {
        margin: 0px -50px;
    }
    
   #se-we-off h1 {
        display: block;
        font-family: "Zilla Slab", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 30px;
        color: rgb(1, 46, 59);
        text-align: center;
        background-color: aliceblue;
        margin: 0px -110px;
        padding-top: 100px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    
    .cards {
        margin: 0px -110px;
        gap: 30px;
        padding-top: 30px;
    }
    
    .cards h1 {
        font-size: 20px;
    }
    
    .card{
        padding: 0px 0px;
        margin: 50px 50px;
    }
    
    #contact-btn {
        margin: 0px 0px;
        padding: 0px 60px;
        margin-bottom: 150px;
    }
    
    .fa-palette {font-size: 40px;}
    .fa-laptop-code{font-size: 40px;}
    .fa-users-gear {font-size: 40px;}
    .fa-hand-holding-dollar {font-size: 40px;}


}
